<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <div id="app" class="container">
        <input type="checkbox" id="jack" value="jack" v-model="checkedNames">
        <label for="jack">jack</label>
        <input type="checkbox" id="john" value="john" v-model="checkedNames">
        <label for="john">john</label>
        <input type="checkbox" id="tony" value="tonywe" v-model="checkedNames">
        <label for="tony">tony</label>
        <br>
        <span>checkedNames:{{checkedNames}}</span>
  </div>
</body>
<script src="js/vue.js"></script>
<script>
  var vm = new Vue({
    el: '#app',
    data: {
      checkedNames:[]
    }
  })
</script>

</html>